*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}



.navbar{
    background-color: rgb(0, 7, 10);
    display: flex;
    align-items:center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
width: 85%;
display: flex;
font-size: 18px; 

}
.nav-list li{
    list-style: none;
    padding: 20px 30px;
    align-items: center;
}
.nav-list li a{
   text-decoration: none;
   color: bisque;
} 
.nav-list li a:hover{
    text-decoration: none;
    color: #ffffff;
 } 
.rightnav{
    margin-right: 10px;
    width: 50%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px rgb(73, 98, 112);
    border-radius:  9 px;
}
.background{
background:rgba(0, 0, 0, 0.7) url(w0w.jpg);
background-size: cover;
background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.firstSection{
    height: 100vh;
}

button{
    width:200px;
    padding:15px 0;
    text-align: center;
    margin:20px 10px;
    border-radius: 25px;
    font-weight:bold;
    border:2px solid #009688;
    background:transparent;
    color:#fff;
    cursor:pointer;
    position:relative;
    overflow: hidden;
}
span{
    background:#009688;
    height: 100%;
    width: 100%;
    border-radius:25px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition:0.5s;
}
button:hover span{
    width :100%;
}
button:hover{
    
    border:none;
}
.gamingGod {
    margin: 10px;
    padding: 5px;
    
    align-items: center;
    justify-content: center;
}
.secondHalf {
    margin: 1px;
    padding: 5px;
    
    align-items: center;
    justify-content: center;
}
.secondHalf p{
    font-size: 30px;
    color: snow;
    font-family: cursive;
}
.buttons{
padding: 80px 20px;
}